.main {
  float: left;
  font-family: Cambria;
  font-size: 18px;
  padding: 10px;
}

.aboutme {
  font-family: 'Gill Sans';
  color: rgb(191, 15, 15);
  font-style: italic;
  border: 1px solid black;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.centered-image {
  margin: auto;
  width: 75%;
  margin-bottom: 13px;
  display: block;
}

.sidebar {
  background-color: #FFF6D3;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.column1 {
  width: 72%;
  float: left;
}

.column2 {
  width: 25%;
  float: right;
}

h1 {
  margin: auto;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans';
  font-size: 75px;
  text-align: center;
  width: 75%;
  display: block;
  color: rgb(191, 15, 15);
  margin-bottom: 10px;
}

.intro {
  width: 75%;
  text-align: justify;
  margin: auto;
  display: block;
  font-size: 20px;
  font-style: italic;
  font-family: 'Gill Sans';
  margin-bottom: 20px;
}

.highlight {
  font-style: italic;
  font-style: oblique;
  font-family: 'Gill Sans';
  font-size: 50px;
  color: rgb(191, 15, 15);
}

.emphasis {
  font-style: italic;
  font-family: 'Gill Sans';
  font-size: 20px;
  color: chocolate;
}

.blog-entry {
  width: 100%;
  background-color: #FFF6D3;
  padding: 5px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Gill Sans';
}

.head-shot {
  float: right;
  padding: 5px;
}