.main {
  font-family: Cambria;
  font-size: medium;
  background-color: antiquewhite;
  margin-bottom: 80px;
}

.aboutme {
  font-family: 'Gill Sans';
  color: chocolate;
  font-style: italic;
  border: 1px solid black;
  padding: 25px;
}