.main {
  width: 70%;
  float: left;
  border: 1px solid black;;
  font-family: Cambria;
  font-size: medium;
  margin-bottom: 80px;
  margin-left: 10px;
}

.aboutme {
  font-family: 'Gill Sans';
  color: chocolate;
  font-style: italic;
  border: 1px solid black;
  padding: 25px;
  margin-top: 20px;
}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

.sidebar {
  width: 10px%;
  float:right;
  background-color: antiquewhite;
}